@import './styles/reset.scss';
@import './styles/default.scss';
@import './styles/theme.scss';

* {
  font-family: $font-family;
}

a, span {
  font-family: $font-family;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

button {
  border: none;
  background-color: transparent;
}
