@import './styles/reset.scss';
@import './styles/default.scss';
@import './styles/theme.scss';

* {
  font-family: $font-family;
}

a, span {
  font-family: $font-family;
  font-size: 1rem;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.layout {
  width: 100vw;
  height: 100vh;
  padding: $spacing-sm $spacing-lg $spacing-sm $spacing-lg;
  background-color: $dark;
  overflow: hidden;
}
