// @media screen and (max-width: #{d.$xs-resolution}) {
  .logo {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }

  .logo::after {
  }
// }

// @media screen and (min-width: #{d.$md-resolution}) {

// }