
$font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

$xs-resolution: 480px;
$sm-resolution: 768px;
$md-resolution: 1080px;
$lg-resolution: 1920px;

$spacing-xs: 0.75rem;
$spacing-sm: 1rem;
$spacing-md: 1.25rem;
$spacing-lg: 1.75rem;
$spacing-xl: 2rem;

$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 48px;
