
$font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

$xs-resolution: 480px;
$sm-resolution: 768px;
$md-resolution: 1080px;
$lg-resolution: 1920px;

$xs: 0.75rem;
$sm: 1rem;
$md: 1.25rem;
$lg: 1.75rem;
$xl: 2rem;

$spacing-xs: $xs;
$spacing-sm: $sm;
$spacing-md: $md;
$spacing-lg: $lg;
$spacing-xl: $xl;

$font-xs: $xs;
$font-sm: $sm;
$font-md: $md;
$font-lg: $lg;
$font-xl: $xl;

$icon-sm: 24px;
$icon-md: 32px;
$icon-lg: 48px;
