
$font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

$xs-resolution: 480px;
$sm-resolution: 768px;
$md-resolution: 1080px;
$lg-resolution: 1920px;

$xs-size: 0.75rem;
$sm-size: 1rem;
$md-size: 1.25rem;
$lg-size: 1.75rem;
$xl-size: 2rem;
