@use '../../../commons/global.scss' as g;

$proportion: 400px;

.modal {
  display: flex;
  flex-flow: column;
  background-color: g.$dark;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: $proportion;
 
  * {
    width: 100%;
    padding: 0;
  }
}

.modal__details,
.modal__rates,
.modal__title {
  margin-top: g.$nn;
  margin-left: g.$nn;
}

.modal__details {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
}

.modal__icon {
  display: flex;
  flex-flow: row;
  width: g.$xl;
}

.modal__icon > img {
  margin: 0 g.$nn;
  border: 1px solid g.$lightest;
  border-radius: 100%;
  padding: g.$nn;
}

.modal .text {
  color: g.$lightest;
}

.modal__rates > span {
  font-size: g.$xs;
  text-transform: uppercase;
  margin-right: g.$md;
}

.modal__title span {
  display: block;
  width: $proportion - 40;
  font-size: g.$lg * 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

